RewriteEngine On

RewriteCond %{REQUEST_URI} /register$
RewriteRule .* /register.php [L]

RewriteCond %{REQUEST_URI} /auth$
RewriteRule .* /auth.php [L]

RewriteRule ^$ entry.php [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /entry.php [L]